body {
    
    background:url('\Images\Imagesackgroundimg.jpg') fixed; 
    background-size:cover;
    
}

.stuff {
    background:url('\Images\backgroundimg.jpg') fixed; 
    background-size:cover;
}

#signin {
    
    position:relative;
    left:50%;
    width: 300px;
    padding: 25px;
    border: 2px solid;
    border-color:darkgreen;
     border-radius: 25px;
     opacity:0.8;

}
