body {
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #cccccc;
}
#signin {
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
}