<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CIS3342TermProjectFall2015.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <system.net>
    <mailSettings>

      <smtp from="TU_ACCESSNET_ACCOUNT@cis-linux2.temple.edu">
        <network host="cis-linux2.temple.edu" port="25" userName="TU_ACCESSNET_ACCOUNT" password="TU_ACCESSNET_PASSWORD"/>
      </smtp>

    </mailSettings>
  </system.net>

<applicationSettings>
        <CIS3342TermProjectFall2015.Properties.Settings>
                <setting name="CIS3342TermProjectFall2015_TP_CreditCardWS_TP_CreditCardWS"
                        serializeAs="String">
                        <value>http://localhost:12566/TP_CreditCardWS.asmx</value>
                </setting>
                <setting name="CIS3342TermProjectFall2015_TP_WebService_TP_WebService"
                        serializeAs="String">
                        <value>http://localhost:12566/TP_WebService.asmx</value>
                </setting>
        </CIS3342TermProjectFall2015.Properties.Settings>
    </applicationSettings>
</configuration>
